body {
	box-sizing: border-box;
	font-family: 'K2D', sans-serif;
	min-width: var(--min-width);
	width: 100vw;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

h1 {
	padding: 0 0.5em;
	font-size: 3.5em;
	margin: 0;
	color: #fff;
}

h2, h3 {
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
}

nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
}

nav ul li {
	padding: .5em 1em;
	margin: .5em 1em;
	border-radius: 10px;
	background: #A61919;
	color: white;
	text-align: center;
	font-size: 1.5em;
}

nav ul li:hover {
	background-color: rgb(90, 24, 24);
}

a {
	text-decoration: none;
}


#projects {
	border-top: 10px solid #777;
	min-width: var(--min-width);
}


h6 {
	text-align: center;
	font-size: 1.5em;
}

h4 {
	font-size: 2em;
	text-align: center;
	margin: 0;
}

#projects {
	height: 125vh;
}

#projects h4 {
	position: relative;
	top: 25vh;
}

#project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	position: relative;
	top: 25vh;
	min-width: var(--min-width);
	grid-column-gap: 1.66%;
	margin: 0 40px;
}

#project-grid a {
	color: black;
}

#project-grid article {
	width: 100%;
	height: 600px;
	overflow: hidden;
	min-width: 300px;
}

#film-reviews {
	background-image: url("../images/filmreviews.png");
}

#virtual-pets-amok {
	background-image: url("../images/virtualpetsamok.jpg");
}

#virtual-pet-shelter {
	background-image: url("../images/virtualpetshelter.jpg");
}

#film-reviews, #virtual-pets-amok, #virtual-pet-shelter {
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 50%; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	min-width: 300px;
}

.project-skills {
	font-weight: 700;
}

.closeDescription {
    display: none;
}

.openDescription {
    display: block;
}

footer {
	background: #333;
	color: white;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

#footer-first-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 3em;
}

#footer-second-column {
	padding: 4em 6em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#footer-second-column img {
	width: 3em;
}

.svg {
	filter: invert(1);
}

#backdrop {
	position: fixed;
	top: 5vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
  
	display: none;
	align-items: flex-end;
	justify-content: center;
  }
  
  .modal-open #backdrop {
	display: flex;
  }
  
  #modal {
	width: 80vw;
	height: 70vh;
	background: #fff;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px #333;
	margin-bottom: 10vh;
  }
  
  #modal h4 {
	float: left;
  }
  
  #modal button {
	float: right;
  
	background: #eee;
	padding: 5px 10px;
	border: 0;
	border-radius: 3px;
  
	cursor: pointer;
  }
  
  #modal button:hover {
	color: #fff;
	background: #999;
  }
  
  #modal #modal-content {
	clear: both;
	padding-top: 1em;
	}

	#modal-info, #modal-contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		height: 100%;
		min-width: 450px;
		max-width: 775px;
	}

	#modal-aboutMe {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		align-items: start;
	}

	#modal-headshot {
		height: 100%;
		width: 40%;
		border: 1px solid black;
		background-image: url("../images/stanleyheadshot.jpg"); /* The image used */
		background-color: #fff; /* Used if the image is unavailable */
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
    }
    
    #profiles{
        padding-left: 2em;
    }

    #profiles {
        list-style: none;
        font-size: 20px;
        margin: 0;
    }
    
    #profiles li {
        margin: 30px;
    }
    
    #profiles li:first-child {
        margin-top: 0;
    }
    
    #profiles a {
        color: black;
    }
    
    #profiles img {
        width: 50px;
        height: 50px;
        border: none;
    }
    
    .icon {
        position: relative;
        top: 15px;
        left: -10px;
    }